* {
  font-family: consolas, Helvetica, sans-serif;
}
html, body, main {
  margin: 0;
  border: 0;
  padding: 0;
  background-color:#002b36;
  color:#2AA198
}
main > h1 {
  font-size:3em;
  color:#2AA198
}
main > h2 {
  color:#2AA198
}
main > h3 {
  color:#2AA198
}
a:link {
  color:#268BD2
}
a:visited {
  color:#6C71C4
}